{% extends 'base.html' %}

{% block content %}
{{ super() }}
<div class="container content">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 form">
        <form action="" method="post" class="login_form">
            {{ form.hidden_tag() }}
            <h2 class="login_title"><b>Изменить пароль администратора</b></h2>
            <div class="field">{{ form.old_password.label(class="change_label") }} {{ form.old_password() }}</div>
            <div class="field">{{ form.new_password.label(class="change_label") }} {{ form.new_password() }}</div>
            <div class="field">{{ form.repeat_password.label(class="change_label") }} {{ form.repeat_password() }}</div>
            {{ form.submit(class="btn btn-secondary") }}
        </form>
    </div>
</div>
{% endblock %}